@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.OuterPlanner{
    background: rgb(244, 244, 244);
}
.planner{
    background: rgb(244, 244, 244);
    .loading{
        padding: 200px;
        height: 100%;
        .loadingIcon{
            background-color: white;
            border-radius: 50%;
        }
        .loadingText{
            margin-top: 30px;
        }
    }
    text-align: center;
    
    .undefinedDiv{
        background: rgb(244, 244, 244);
        padding: 200px;
        height: 100%;
       
        .undefinedDivContent{
            margin: 0px auto; /* horizontally centers the element */
            text-align: center; /* centers any inline content inside the element */
            padding: 30px;
            border-radius: 20px;
            width: 50%;
            background-color: white;
            margin-top: 50px;
            margin-bottom: 50px;
            .plannerIcon{
                width: 80px;
            }
        }
        
    }

    .definedDiv{
        padding: 30px;
        margin: 0 auto;
    }
    
    
}
.printClass{
    background: rgb(244, 244, 244);
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    .printButton{
        background-color: #124449;
        color: whitesmoke;
        padding: 10px;
        border-radius: 20px;
        width: 250px;
        border: 0;
    }
}

.footer{
    padding: 30px;
    color: white;
    background-color: #124449;
    text-align: center;
}